* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid #1F2935;
    margin: 10px auto;
    display: block;
}

.left {
    background-color: #A52822;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    background-color: #1F2935;
    color: white;
    min-height: 100vh;
    padding: 30px;
    border-left: 5px solid #ffffff;

}

.left div {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 30px;
    box-shadow: 0 6px 0 rgba(0,0,0,.18);
}

.box h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

.right-box {
    display: grid;
    grid-template-columns: 0.5fr 0.4fr 0.6fr;
    margin: 50px 0 120px 0;
}

p, li {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    font-size: 1em;
}

ul{
    list-style: none;
    padding-left: 0;
}

.skills h3 {
    margin: 6px 0;
}